@charset "utf-8";
/* CSS Document */


.etapes ul{
	list-style:none;

	}
.etapes ul li{
		background: url(../images/order-step-a.png) no-repeat;
	}
.etapes  ul li a{
	float:left;
	text-decoration:none;
	color:#235689;
	padding:8px 40px;
	text-align:center;
	line-height:42px;
	height:42px;	
	margin-left:150px;
	margin-right:5px;
	margin-top:-9px;
}



	
.etapes  ul li a.active{
	background-color:#FFF;
	color:#235689;
	
	}