@charset "utf-8";
/* CSS Document */

#men {
	height:42px;
	
}

#men ul{
	list-style:none;

	}
	
#men ul li a{
	float:left;
	text-decoration:none;
	color:#FFF;
	padding:8px 40px;
	text-align:center;
	line-height:42px;
	height:42px;	
	margin-left:5px;
	margin-right:5px;
}


#men ul li a:hover{
	background-color:#FFF;
	color:cornflowerblue;
		
	}